<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <p>Hi {{title}} </p>
    <p>Your Otp is {{otp}}</p>

    <h3 style="bottom: 5%;font-weight: normal;">Thank you</h3>
</body>

</html>